footer{
    height: 10vh;
    width: 100vw;
    background-color: var(--very-dark-gray);
}

ul{
    width: 100%;
    padding: .3rem 1.2rem;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-dark-gray);
}

ul li{
    font-size: 1.1rem;
    color: var(--white);
    list-style:none;
    display: flex;
    text-align: center;
    align-items: center;
    min-width: 7.5rem;
}

ul li div{
    min-width: 7rem;
}

ul li a{
    color: var(--white);
    padding: .2rem;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    transition: all 0.2s;
}

ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 1px;
    color: var(--red);
}