footer{
    background-color: var(--very-dark-gray);
}

footer ul{
    padding: .3rem 1.2rem;
    min-height: 10vh;
    background-color: var(--very-dark-gray);
}

footer ul li{
    font-size: 1.1rem;
    color: var(--white);
    list-style:none;
    display: flex;
    text-align: center;
    align-items: center;
}

footer ul li a{
    color: var(--white);
    padding: .2rem;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    transition: all 0.2s;
}

footer ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 1px;
    color: var(--red);
}

@media screen and (min-width: 1000px){
    footer ul li{
        min-width: 7rem;
    }
    
    footer ul li div{
        min-width: 7rem;
    }
}