nav{
    position: sticky;
    z-index: 10;
    left: 0;
    top: 0;
}

nav i{
    color: var(--white);
    font-size: 1.2rem;
}

#dropdown{
    position: fixed;
    top: 65px;
    right: 0;
    background-color: var(--white);
    border-radius: 0 0 4px 4px;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

#dropdown a{
    color: var(--black);
    font-size: 1.5rem;
    padding: .8rem;
}

nav ul{
    padding: .3rem 1.2rem;
    min-height: 10vh;
    align-items: center;
    background-color: var(--very-dark-gray);
}

nav ul li{
    list-style:none;
    display: flex;
    text-align: center;
    align-items: center;
}

nav ul li a{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    transition: all 0.2s;
}

nav ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 1px;
    color: var(--red);
}

nav ul li a i{
    margin-right: .4rem;
}