#conteudo{
    min-height: 80vh;
    background-color: var(--light-gray);
}

h1{
    margin-bottom: 1rem;
    border-bottom: 1px dashed var(--dark-gray);
}

#capa{
    margin-bottom: 1.2rem;
    align-self: center;
}

@media screen and (max-width: 1000px){
    #capa{
        width: 100%;
    }
}